/*========================================================*/
/* General stuff                                         */
/*======================================================*/
* {
    font-family: "Source Sans Pro", sans-serif;
}
body {
    background: #ededed;
}
a,
a:link,
a:visited,
a:focus {
    color: inherit;
    text-decoration: none;
}
button,
.btn {
    width: 160px;
    background-color: #c9464a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid #ff5358;
    color: #fff;
    transition: .20s background-color;
}
button:hover,
.btn:hover {
    background-color: #ff5358;
    color: #fff;
}

/*========================================================*/
/* Header                                                */
/*======================================================*/
.header nav.nav {
    background-color: #122b40;
}
.header nav.nav .navbar-title h1 {
    margin: 15px 0;
    padding: 0 15px;
    color: #eee;
}

/*========================================================*/
/* Content                                               */
/*======================================================*/
.content {
    max-width: 900px;
    margin: 40px auto;
}
.content .form.form-login {

}
.content .form.form-login .form-field {
    margin-bottom: 10px;
}
.content .form input[type="text"],
.content .form input[type="password"] {
    width: 30%;
    padding: 12px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    transition: .2s border-color;
}
.content .form input[type="text"]:focus,
.content .form input[type="password"]:focus {
    border-color: #6dc960;
}